.nav--primary {
  margin: 0 1rem;
  display: inline-block;
  position: relative;
  width: 100%;
}

.nav--list {
  margin: 0; padding: 0;
  height: 100%; max-width: 50%;
  list-style-type: none;
  display: inline-flex;
  align-items: center;
}

.nav--list--item {
  display: flex;
}

.nav--list--link {
  padding: .2rem .6em;
  font-weight: 600; color: var(--black); letter-spacing: .5px;
  text-transform: uppercase; text-decoration: none;
  align-self: center;
}

// Hamburger

.nav--toggle {
  position: absolute;
  width: 50%; height: 100%;
  right: 0;
  display: inline-flex;
  align-items: center;
}

.nav--click {
  width: auto;
  position: absolute;
  right: 0;
  &::before {
    content: 'Menu';
    right: 1rem; position: absolute;
    text-transform: uppercase; font-weight: 600;
  }
}

.toggle--bar {
  height: 4px;
  width: 30px;
  background-color: var(--black);
  display: block;
  position: absolute;
}

.bar--1 {
  top: 0;
}

.bar--2 {
  top: 7px;
}

.bar--3 {
  top: 14px;
}

.toggle--closed {
  display: none;
}