:root {
  --white: rgb(0,0,0);
  --black: rgb(0,0,0);
  --grey: rgb(59,59,59);
}

body {
  margin: 0; padding: 0;
  font-family: 'Open Sans', sans-serif; font-weight: 300; font-size: 100%;
}

@mixin header--font {
  font-family: 'Lora', serif; font-weight: 400;
}

@import 'header';
@import 'nav';


.heading--1 {
  @include header--font;
  font-size: 5rem; // 80pt
}

@import 'footer';